* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 960px;
    width: 620px;
    background-image: url(images/woodgrain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px black solid;
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
}

.book {
    background-color: black;
    margin: 5px;
}